<!-- banner starts -->
<section id="banner" class="py-10 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>

  <div class="container text-center">
    <img
      src="../../../assets/img/home/3D logo for main page.png"
      alt="Logo"
      class="w-2/6 mx-auto"
    />
    <p class="text-5xl md:text-9xl text-gold">Profit4life</p>
    <p class="text-3xl">Academia de forex</p>
    <p class="text-2xl font-montserrat">
      Aprende a <span class="text-gold">tradear</span><br />
      como un profesional
    </p>
  </div>
</section>
<!-- banner ends -->

<!-- ======================= -->

<!-- forex starts -->

<section id="forex" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div class="content flex justify-between">
      <div class="left w-2/4 hidden md:block"></div>
      <div class="right w-full md:w-2/4 flex space-x-2">
        <img
          src="../../../assets/img/home/LOGO.png"
          alt=""
          class="max-h-[60px]"
        />
        <div class="text w-4/7">
          <div class="h_text max-w-[230px] relative mb-10">
            <h2 class="text-6xl">profit4life</h2>
            <p
              class="absolute right-0 text-4xl font-montserrat italic text-gold font-medium"
            >
              forex
            </p>
          </div>
          <p class="mt-10 font-montserrat">
            Te ofrecemos la oportunidad de dominar el análisis técnico del
            mercado de divisas desde sus fundamentos más básicos hasta los más
            avanzados. Sumérgete en un mundo de conocimiento donde aprenderás a
            utilizar las plataformas y herramientas esenciales para el trading
            con confianza y destreza.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- forex ends -->

<!-- ======================= -->

<!-- academia starts -->
<section id="academia" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div
      class="content flex space-x-0 md:space-x-8 justify-between flex-col md:flex-row"
    >
      <div class="left w-full md:w-2/4">
        <div class="box profit_box">
          <h4 class="profit_h4">Academia online</h4>
          <p class="profit_p">
            Aprenderás todas las herramientas necesarias para desarrollar el
            análisis técnico y proyectar movimientos futuros del mercado, desde
            lo mas básico hasta lo mas avanzado. Contarás con videos
            pre-grabados y clases en vivo vía ZOOM que te permitiran prepararte
            desde cero para ser un trader rentable.
          </p>
          <div class="text-center max-w-[290px] mx-auto">
            <div class="price flex justify-center">
              <img
                src="../../../assets/img/profit/price icon.png"
                alt=""
                class=""
              />
              <p class="text-5xl font-montserrat">2000</p>
            </div>
            <button class="btn_unirme mt-4">comienza ahora</button>
          </div>
        </div>
      </div>
      <div class="right w-full md:w-2/4">
        <div class="box profit_box">
          <h4 class="profit_h4">Intensivo Presencial</h4>
          <p class="profit_p">
            5 días de curso intensivo con +6 horas diarias de aprendizaje.
            Podrás realizar un análisis técnico basado en tendencias, velas
            japonesas, RSI, otros indicadores y señales, operaciones de trading
            tomando decisiones con fundamentos. Conocerás la importancia de la
            psicología y controlar tus emociones al invertir.
          </p>
          <div class="text-center max-w-[290px] mx-auto">
            <div class="price flex justify-center">
              <img
                src="../../../assets/img/profit/price icon.png"
                alt=""
                class=""
              />
              <p class="text-5xl font-montserrat">1850</p>
            </div>
            <button class="btn_unirme mt-4">comienza ahora</button>
          </div>
        </div>
      </div>
    </div>

    <div class="left w-full md:w-2/4">
      <div class="box profit_box">
        <h4 class="profit_h4">Intensivo Presencial</h4>
        <p class="profit_p">
          5 días de curso intensivo con +6 horas diarias de aprendizaje. Podrás
          realizar un análisis técnico basado en tendencias, velas japonesas,
          RSI, otros indicadores y señales, operaciones de trading tomando
          decisiones con fundamentos. Conocerás la importancia de la psicología
          y controlar tus emociones al invertir.
        </p>
        <div class="text-center max-w-[290px] mx-auto">
          <div class="price flex justify-center">
            <img
              src="../../../assets/img/profit/price icon.png"
              alt=""
              class=""
            />
            <p class="text-5xl font-montserrat">1850</p>
          </div>
          <!-- <button class="w-full"></button> -->
          <button class="btn_unirme mt-4">comienza ahora</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- academia ends -->
<!-- ======================= -->

<!-- grupo starts -->

<section id="grupo" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div class="content flex justify-between">
      <div class="left w-2/4 hidden md:block"></div>
      <div class="right w-full md:w-2/4 flex space-x-2">
        <img
          src="../../../assets/img/home/LOGO.png"
          alt=""
          class="max-h-[60px]"
        />
        <div class="text w-full md:w-4/7">
          <div class="h_text w-[240px] md:w-[380px] relative mb-10">
            <h2 class="text-3xl md:text-6xl">Grupo de Telegram</h2>
            <p
              class="absolute right-0 text-2xl md:text-4xl font-montserrat italic text-gold font-medium"
            >
              forex
            </p>
          </div>
          <p class="mt-10 font-montserrat">
            ¡Únete a nuestro grupo de Telegram! Un grupo para aprender sobre
            forex y criptomonedas, recibir señales confiables y mantenerte al
            tanto de las últimas noticias del mercado. ¡ Todo gratis! Únete
            ahora y descubre el mundo de las criptos con nosotros.
          </p>
          <a href="" class="btn_unirme btn_group">unirme</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- grupo ends -->

<!-- ======================= -->

<!-- superclass starts -->
<section id="superclass" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <h1 class="text-6xl text-center text-gold mb-10">Super Classes</h1>
  <div class="container">
    <div
      class="content flex flex-col md:flex-row justify-center space-y-10 md:space-y-0 space-x-0 md:space-x-8"
    >
      <div class="left w-full md:w-2/6">
        <div class="box_over profit_box h-[310px] relative">
          <h6 class="text-center -mt-10 w-3/5 p-2 mx-auto mb-4">
            SUPER CLASE DE ENERO 2023
          </h6>
          <p>US30 ARMY.</p>
          <p>Pasa tu challenge</p>
          <p>Como generar +10K al mes con US3</p>
          <p>Acceso a grupo privado de telegram</p>
          <button class="btn_unirme absolute bottom-4">$200</button>
        </div>
      </div>
      <div class="right w-full md:w-2/6">
        <div class="box_over profit_box h-[310px] relative">
          <h6 class="text-center -mt-10 w-3/5 p-2 mx-auto mb-4">
            SUPER CLASE DE ENERO 2023
          </h6>

          <p>FOREX:</p>
          <p>Análisis técnico y estrategias para pasar los Challenge</p>
          <p>CRIPTO:</p>

          <p>Portafolio, análisis técnico, income pasivo y gemas</p>
          <p>Acceso a grupo privado de telegram</p>
          <button class="btn_unirme absolute bottom-4">$150</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- superclass ends -->

<!-- ======================= -->

<!-- contenido starts -->

<section id="contenido" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div class="content flex justify-between">
      <div class="left w-2/4 hidden md:block"></div>
      <div class="right w-full md:w-2/4 px-4 md:px-0 flex space-x-2">
        <img
          src="../../../assets/img/home/LOGO.png"
          alt=""
          class="max-h-[60px]"
        />
        <div class="text w-4/7">
          <div class="h_text w-[230px] md:w-[450px] relative mb-10">
            <h2 class="text-3xl md:text-6xl">Contenido de Youtube</h2>
            <p
              class="absolute right-0 text-2xl md:text-4xl font-montserrat italic text-gold font-medium"
            >
              forex
            </p>
          </div>
          <p class="mt-10 font-montserrat">
            Sean todos bienvenidos al canal EMILETRADERFX ; un espacio donde
            podrán aprender muchos temas, sobre todo lo que tiene que ver con
            criptomoneadas, forex y cualquier tema de interés que tenga que ver
            con mejora personal.
          </p>
          <a href="" class="btn_unirme btn_group">unirme</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- forex ends -->
