<!-- footer.component.html -->
<footer class="relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto py-4 mt-40 z-30">
    <div class="content flex justify-between space-x-8">
      <div class="right w-2/4 md:w-2/5">
        <a href="">
          <img
            src="../../../assets/img/home/Footer Logo BIG.png"
            alt="Logo"
            class="w-[135px] md:w-[220px]"
          />
        </a>
      </div>
      <div class="left w-2/4 md:w-3/5 flex justify-between">
        <div class="hidden md:block font-montserrat">
          <a href="../" class="font-montserrat">Home</a> <br />
          <a href="" class="font-montserrat">NFT</a> <br />
          <a href="" class="font-montserrat">Mision</a> <br />
          <a href="./about" class="font-montserrat">About me</a> <br />
          <a href="" class="font-montserrat">Servicos</a> <br />
        </div>
        <div class="hidden md:block">
          <h2 class="text-3xl font-montserrat">Servicos</h2>
          <a href="/profit4life" class="font-montserrat">Profit4Life </a> <br />
          <a href="/crypto4life" class="font-montserrat">Crypto4Life </a> <br />
          <a href="/profitfriends" class="font-montserrat">Profitfriends </a>
          <br />
          <br />
        </div>
        <div>
          <p class="normal-case font-montserrat">Install App</p>
          <a href="#"
            ><img
              src="../../../assets/img/home/googleplay.png"
              alt=""
              class="my-2 w-[120px] md:w-[200px] md:w-full"
          /></a>
          <a href="#"
            ><img
              src="../../../assets/img/home/appstore.png"
              alt=""
              class="my-2 w-[120px] md:w-[200px] md:w-full"
          /></a>
        </div>
      </div>
    </div>
    <div
      class="footer_social border-t-2 my-4 flex justify-center items-center lg:justify-between flex-col-reverse lg:flex-row"
    >
      <p class="text-sm md:text-base mt-4 font-montserrat text-gray-400">
        © Copyright 2024, All Rights Reserved by PROFIT4LIFE
      </p>
      <div class="social_links mt-4 flex space-x-2">
        <a href=""><img src="../../../assets/img/home/X.png" alt="" /></a>
        <a href=""
          ><img src="../../../assets/img/home/Facebook.png" alt=""
        /></a>
        <a href=""><img src="../../../assets/img/home/IG.png" alt="" /></a>
        <a href=""><img src="../../../assets/img/home/Ds.png" alt="" /></a>
      </div>
    </div>
  </div>
</footer>
