<section id="banner" class="relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto text-center">
    <img
      src="../../../assets/img/home/bull.png"
      alt=""
      class="text-center mx-auto max-h-[510px]"
    />
    <h1 class="text-7xl md:text-9xl font-semibold text-center text-gold">
      profitfriends
    </h1>
    <button class="btn_unirme mt-4">comienza ahora</button>

    <br />
  </div>
</section>
<!-- ==================== -->

<!-- profitfriend starts -->
<section id="profitfriends" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div
      class="content flex flex-row-reverse md:flex-row space-x-0 md:space-x-8 items-center"
    >
      <div class="left text-center w-full md:w-2/4">
        <img
          src="../../../assets/img/home/bull.png"
          alt=""
          class="text-center md:mx-auto max-h-[200px] md:max-h-[510px]"
        />
      </div>
      <div class="right w-full md:w-2/4">
        <h1 class="text-7xl">profitfriends</h1>
        <p class="mb-4 font-montserrat">
          La comunidad de PROFITFRIENDS es el circulo mas cercano de
          EMILETRADER, con los cuales se comparte información clasificada:
        </p>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/unirme ahora button.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat">Entradas de FOREX</span>
        </p>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/unirme ahora button.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat">Inversion en CRIPTOMONEDAS</span>
        </p>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/unirme ahora button.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat">Acceso a LAUNCHPADS de Binance</span>
        </p>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/unirme ahora button.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat"
            >Oportunidad de Inversión en Proyectos de Tokenización</span
          >
        </p>
        <p class="font-montserrat">
          A demás los ProfitFriends gozan de beneficios ilimitados con un solo
          precio de por vida. Todos los años se realiza un PROFITMEETING en
          Miami donde se revela la última actualización del CriptoReporte (libro
          que explica el portafolio de EmileTrader porcentualmente, con el que
          alcanzo una cifra de $12M en 2020) completamente gratuito para los
          miembros de esta comunidad.
        </p>
        <button class="btn_unirme mt-4">comienza ahora</button>
      </div>
    </div>
  </div>
</section>
<!-- profitfriend ends -->

<!-- ==================== -->

<section id="nuestras" class="mt-40 mb-10 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div class="heading relative mb-16 w-[200px] block md:hidden">
      <h1 class="text-5xl md:text-7xl">NUESTRA</h1>
      <p
        class="absolute right-0 text-3xl md:text-5xl font-montserrat text-gold font-semibold italic"
      >
        comunidad
      </p>
    </div>
    <div
      class="content flex space-x-0 md:space-x-8 items-center flex-col-reverse md:flex-row justify-between"
    >
      <div class="left w-full md:w-2/5 relative">
        <div class="heading relative mb-16 hidden md:block">
          <h1 class="text-5xl md:text-7xl">NUESTRA</h1>
          <p
            class="absolute right-0 text-3xl md:text-5xl font-montserrat text-gold font-semibold italic"
          >
            comunidad
          </p>
        </div>
        <p class="font-montserrat">
          La comunidad de ProfitFriends ha repasado barreras, ya somos una
          familia. Entre los ProfitFriends hemos logrado unirnos con un mismo
          próposito: alcanzar nuestra libertad financiera. La comunidad se
          beneficia de todas las oportunidades y herramientas que brinda
          Profit4Life y Emiletrader para generar ingresos pasivos.
        </p>
        <button class="btn_unirme mt-4">comienza ahora</button>
      </div>
      <div class="rightss w-3/5">
        <div>
          <div>
            <div
              *ngFor="let image of images; let i = index"
              [class]="'slider-image' + (i + 1)"
            >
              <img [src]="image" [alt]="'Slider image ' + (i + 1)" />
            </div>
          </div>
        </div>
        <div class="slider_btns flex space-x-8">
          <button (click)="prevSlide()">
            <img src="../../../assets/img/profitfriends/Vector 12.png" alt="" />
          </button>
          <button (click)="nextSlide()">
            <img src="../../../assets/img/profitfriends/Vector 1.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- nuestra starts -->

<!-- nuestra ends -->

<!-- ==================== -->

<!-- BENEFICIOS starts -->

<section id="beneficious" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div class="heading max-w-[420px] w-[220px] mb-20 relative block md:hidden">
      <h1 class="text-5xl md:text-7xl">BENEFICIOS</h1>
      <p
        class="absolute right-0 text-3xl md:text-5xl font-montserrat text-gold font-semibold italic"
      >
        profitfriends
      </p>
    </div>
    <div
      class="content flex space-x-0 md:space-x-8 items-center flex-col md:flex-row"
    >
      <div class="left w-4/5 md:w-2/4 mb-10 md:mb-0">
        <img
          src="../../../assets/img/profitfriends/eafbc38ea39f60668edf141a81ef0512.png"
          alt=""
        />
      </div>
      <div class="right w-full md:w-2/4">
        <div class="heading max-w-[420px] h-40 relative hidden md:block">
          <h1 class="text-5xl md:text-7xl">BENEFICIOS</h1>
          <p
            class="absolute right-0 text-5xl font-montserrat text-gold font-semibold italic"
          >
            profitfriends
          </p>
        </div>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/87071d6f50fe411830fe207d5ec7fea8.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat"
            >Acceso de por vida a los CloseFriends de Instagram. (Para poder
            ingresar debes cumplir con registro de KYC).</span
          >
        </p>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/87071d6f50fe411830fe207d5ec7fea8.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat"
            >Acceso a chat privado de ProfitFriends en nuestra App</span
          >
        </p>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/87071d6f50fe411830fe207d5ec7fea8.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat"
            >Acceso al Cripto Reporte + actualizaciones.</span
          >
        </p>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/87071d6f50fe411830fe207d5ec7fea8.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat"
            >Acceso a los Meeting Online y Presenciales de ProfitFriends.
          </span>
        </p>
        <p class="mb-2 flex">
          <img
            src="../../../assets/img/profitfriends/87071d6f50fe411830fe207d5ec7fea8.png"
            alt=""
            class="w-4 h-4 mt-1 mr-2"
          />
          <span class="font-montserrat"
            >Acceso al evento Anual de ProfitFriends en Miami.</span
          >
        </p>
        <button class="btn_unirme mt-4">comienza ahora</button>
      </div>
    </div>
  </div>
</section>

<!-- BENEFICIOS ends -->

<!-- ==================== -->

<!-- desbloquea starts -->
<section id="desbloques" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div
      class="content flex space-x-0 md:space-x-8 justify-between items-center flex-col md:flex-row"
    >
      <div class="left w-full md:w-2/5">
        <h1 class="text-7xl text-black">desbloquea</h1>
        <p class="text-5xl text-gold">contenido clasificado</p>
        <img
          src="../../../assets/img/profitfriends/10fe3f4bc1e44eaf8df5f3d9b2b944d1.png"
          alt=""
          class="max-h-[510px]"
        />
      </div>
      <div
        class="right w-full md:w-3/6 flex space-x-0 md:space-x-12 relative justify-between"
      >
        <img
          src="../../../assets/img/profitfriends/c251fc57f38da7730701464e2a085395.png"
          alt=""
          class="h-[300px] md:h-[510px]"
        />
        <img
          src="../../../assets/img/profitfriends/c251fc57f38da7730701464e2a085395.png"
          alt=""
          class="h-[300px] md:h-[510px]"
        />
        <button
          class="btn_unirme mt-4 absolute left-1/2 transform -translate-x-1/2 bottom-4"
        >
          comienza ahora
        </button>
      </div>
    </div>
  </div>
</section>
<!-- desbloquea ends -->
<!-- ======================= -->

<!-- profitmeetings starts -->
<section id="profitmeetings" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <h2 class="text-7xl mb-20">profitmeetings</h2>
    <div class="video flex justify-center w-full">
      <iframe
        class="w-full md:w-3/5 aspect-video"
        src="https://www.youtube.com/embed/JG_JpEdo-yk?si=7ebXU_l2-cuxCUGU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
