<section id="banner" class="relative">
  <div class="container text-center">
    <h1 class="text-4xl md:text-9xl text-gold">Emile Machado</h1>
    <img
      src="../../../assets/img/about/9ece0b4a0d3c7b85a0f217972d38f274.jpg"
      alt=""
      class="text-center mx-auto max-h-[510px]"
    />
  </div>
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
</section>

<!-- breve starts -->
<section id="breve" class="relative mt-40">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div
      class="content flex flex-col md:flex-row space-x-0 md:space-x-8 items-center"
    >
      <div class="left w-full md:w-3/5">
        <div class="heading relative w-[160px] md:w-[200px] h-32">
          <h1 class="text-5xl md:text-7xl">Breve</h1>
          <p
            class="absolute right-0 text-4xl font-montserrat text-gold italic font-semibold"
          >
            historia
          </p>
        </div>
        <p class="mb-4 font-montserrat">
          Venezolano con 30 años de edad que emigró hacia Estados Unidos en el
          año 2017 buscando un mejor futuro.
        </p>
        <p class="mb-4 font-montserrat">
          Luego de un duro comienzo en New York con tres trabajos para poder
          subsistir, inicio en el mundo del Trading en Forex e inversiones en
          Criptomonedas, logrando su rentabilidad y alcanzar un Portafolio de
          +12M$ en 202
        </p>
        <p class="mb-4 font-montserrat">
          Fundó su Academia de Forex y Criptomonedas, Profit4Life y Cripto4Life,
          que hoy en dia con reconocidas como unas de las más grandes de habla
          hispana.
        </p>
      </div>
      <div class="right w-full md:w-2/5">
        <img
          src="../../../assets/img/about/55b25c25408f763680480095219adb07.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- breve ends -->

<!-- =============== -->

<!-- DESEMPEÑO starts -->

<section id="desempeno" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <h2 class="text-center text-7xl">DESEMPEÑO</h2>
    <p class="font-montserrat text-center">
      Celebrate the excellent individual and collective <br />achievements of
      your team here.
    </p>
    <div class="content flex flex-wrap justify-between mt-20">
      <div class="item w-1/2 md:w-1/5">
        <img
          src="../../../assets/img/about/elipse with logo.png"
          alt=""
          class="max-w-[70px] mb-6"
        />
        <h3 class="text-6xl">2018</h3>
        <p class="font-montserrat">PROFIT4LIFE</p>
      </div>
      <div class="item w-1/2 md:w-1/5">
        <img
          src="../../../assets/img/about/elipse with logo.png"
          alt=""
          class="max-w-[70px] mb-6"
        />
        <h3 class="text-6xl">2019</h3>
        <p class="font-montserrat">
          CRIPTO4LIFE <br />
          PROFITFRIENDS
        </p>
      </div>
      <div class="item w-1/2 md:w-1/5">
        <img
          src="../../../assets/img/about/elipse with logo.png"
          alt=""
          class="max-w-[70px] mb-6"
        />
        <h3 class="text-6xl">2021</h3>
        <p class="font-montserrat">P4L COLLECTION</p>
      </div>
      <div class="item w-1/2 md:w-1/5">
        <img
          src="../../../assets/img/about/elipse with logo.png"
          alt=""
          class="max-w-[70px] mb-6"
        />
        <h3 class="text-6xl">2022</h3>
        <p class="font-montserrat">NFT COLLECTION</p>
      </div>
      <div class="item w-1/2 md:w-1/5">
        <img
          src="../../../assets/img/about/elipse with logo.png"
          alt=""
          class="max-w-[70px] mb-6"
        />
        <h3 class="text-6xl">2024</h3>
        <p class="font-montserrat">UNITOK</p>
      </div>
    </div>
    <div class="border-t-2 border-t-yellow-500 mt-6 pt-4">
      <h2 class="text-3xl md:text-6xl text-gold">Emile Machado</h2>
    </div>
  </div>
</section>

<!-- DESEMPEÑO ends -->

<!-- profitcasts starts -->
<section id="profitcasts" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <h1 class="text-center text-gold text-7xl mb-10">PROFITCASTS</h1>

    <div class="video-container">
      <div class="video-top-row mb-8 w-full flex justify-center">
        <iframe
          id="main-video"
          [src]="currentVideo"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="w-full md:w-3/5 aspect-video"
        ></iframe>
      </div>
      <div class="video-thumbnails flex flex-wrap space-x-2 justify-between">
        <div
          *ngFor="let video of videos; let i = index"
          (click)="selectVideo(i)"
          [class.border]="i === currentVideoIndex"
          class="cursor-pointer p-1 w-1/6 flex items-center"
        >
          <img
            [src]="video.thumbnail"
            [alt]="'Thumbnail ' + (i + 1)"
            class="object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- slider  -->
<section id="entervistas" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <h1 class="text-center text-gold text-7xl mb-10">ENTREVISTAS</h1>
  <app-parallal-slider></app-parallal-slider>
</section>

<!-- ================= -->

<section id="pelicula" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>

  <h1 class="text-center text-gold text-7xl mb-40">LA PELICULA</h1>
  <div
    class="container mx-auto px-4 md:px-0 relative min-h-[870px] md:min-h-full z-20"
  >
    <div class="flex justify-center w-full">
      <img
        src="../../../assets/img/about/771109aa2f05b3a5f6f2465d4aa9e416.png"
        alt=""
        class="w-full md:w-4/5"
      />
    </div>

    <div class="app_box comment_box left_t">
      <div class="img flex items-center space-x-2">
        <img
          src="../../../assets/img/about/picture comment 1.png"
          alt=""
          class="w-6 h-6 md:w-auto md:h-auto"
        />
        <h4 class="text-lg md:text-3xl font-semibold font-montserrat">
          &#64;BREIK4910
        </h4>
      </div>
      <p class="font-montserrat text-sm md:text-base">
        Imposible no sentir admiración por tan gran personalidad que tienes
      </p>
    </div>
    <div class="app_box comment_box left_b">
      <div class="img flex items-center space-x-2">
        <img
          src="../../../assets/img/about/picture comment 2.png"
          alt=""
          class="w-6 h-6 md:w-auto md:h-auto"
        />
        <h4 class="text-lg md:text-3xl font-semibold font-montserrat">
          &#64;ALIKSONROJAS5361
        </h4>
      </div>
      <p class="font-montserrat text-sm md:text-base">
        Tu historia, la historia mía y de tantos venezolanos Dios nos quería
        fuertes porque los venezolanos somos especiales en este mundo lloré y
        reí con este documental y finalmente quedo extasiada de inspiración
        gracias Emile Dios te guarde y bendiga cada día quiero conocerte en
        persona así que voy por ello
      </p>
    </div>
    <div class="app_box comment_box right_b">
      <div class="img flex items-center space-x-2">
        <img
          src="../../../assets/img/about/picture comment 3.png"
          alt=""
          class="w-6 h-6 md:w-auto md:h-auto"
        />
        <h4 class="text-lg md:text-3xl font-semibold font-montserrat">
          &#64;JOSEMENDOZA.2123
        </h4>
      </div>
      <p class="font-montserrat text-sm md:text-base">
        No había visto el documental man... Si no te hubiese conocido en persona
        aquí en Mérida, y sabiendo que eres de Maturín no creería tu historia.
        Voy a empezar en este mundo gracias a ti Emile. ¡Que sigan tus éxitos!
      </p>
    </div>
  </div>
</section>

<!-- contact starts -->

<section id="contact" class="mt-40 pt-[20px] md:pt-[300px] relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto px-4 md:px-0 z-20">
    <h1 class="text-7xl mb-20 md:mb-0">CONTACTO</h1>

    <div class="content flex space-x-0 md:space-x-8 flex-col md:flex-row">
      <div class="item w-3/9 mb-4">
        <h4 class="text-lg md:text-3xl font-montserrat">Emile Machado</h4>
        <p class="font-montserrat text-sm md:text-base">
          E : profit4lvnzla&#64;gmail.com <br />P : 929-305-8848
        </p>
      </div>
      <div class="item w-3/9 mb-4">
        <h4 class="text-lg md:text-3xl font-montserrat">Asistente</h4>
        <p class="font-montserrat text-sm md:text-base">
          E : emiletrader.assistant&#64;gmail.com<br />
          P : 929-394-8001
        </p>
      </div>
    </div>
    <div
      class="content flex justify-between items-center border-t-2 border-t-yellow-500 mt-6 pt-4"
    >
      <h1 class="text-3xl md:text-7xl text-gold">profit4life</h1>
      <p class="font-montserrat text-sm md:text-base">
        Have a message or question?
        <br />
        Contact our team.
      </p>
    </div>
  </div>
</section>

<!-- contact ends -->

<!-- ================= -->
