<div class="relative page-container">
  <div class="abs_coin_y top-0 left-0">
    <img
      src="assets/img/home/banner1.png"
      alt="Top Left Image"
      class="h-3/4 w-3/4"
    />
  </div>
  <div class="absolute bottom-1 left-1/2 transform -translate-x-1/2">
    <h2 class="text-7xl md:text-9xl font-semibold text-center text-gold">
      Profit4life
    </h2>
    <p class="text-center font-montserrat text-sm md:text-normal">
      La comunidad de traders más grande de América
    </p>
  </div>
  <div class="abs_coin_y bottom-0 right-0">
    <img
      src="assets/img/home/banner2.png"
      alt="Bottom Right Image"
      class="w-full h-full"
    />
  </div>
</div>

<!-- misson starts -->

<section id="mission" class="mt-40 relative">
  <div class="abs_coin_y -top-20 z-0">
    <img
      src="../../../assets/img/elipse/hml.png"
      alt="Bottom Right Image"
      class="w-96"
    />
  </div>
  <div class="container mx-auto px-4 md:px-0 z-20">
    <h2 class="title">Mision</h2>
    <div
      class="content flex justify-between items-center flex-col flex-col-reverse md:flex-row"
    >
      <div class="left w-4/5 md:w-1/3"></div>
      <div class="mid w-4/5 md:w-1/3">
        <img src="../../../assets/img/home/mission.png" alt="" />
      </div>
      <div class="right w-4/5 md:w-1/3">
        <p class="font-montserrat">
          La misión fundamental de Profit4Life es impulsar la transformación de
          aspiraciones financieras en realidades tangibles. Nos dedicamos a
          guiar a individuos desde los fundamentos hasta niveles avanzados del
          trading, brindando una educación integral en forex y criptomonedas.
        </p>
      </div>
    </div>
    <div class="content flex justify-between items-center flex-col md:flex-row">
      <div class="left w-4/5 md:w-1/3">
        <p class="font-montserrat">
          A través de herramientas innovadoras como Profit4Life App y programas
          exclusivos como ProfitFriends, buscamos empoderar a nuestra comunidad,
          proporcionando conocimientos, habilidades y un entorno de apoyo único.
        </p>
      </div>
      <div class="mid w-4/5 md:w-1/3"></div>
      <div class="right w-4/5 md:w-1/3 mt-10 md:mt-0">
        <p class="font-montserrat">
          Nuestra misión es clara: abrir las puertas hacia la libertad
          financiera para cada miembro de Profit4Life. Únete a nosotros,
          descubre tu potencial y da paso a un futuro financiero transformador.
        </p>
      </div>
    </div>
  </div>

  <div class="abs_coin_y top-0 right-0 z-0">
    <img
      src="../../../assets/img/elipse/hmr.png"
      alt="Bottom Right Image"
      class="w-96"
    />
  </div>
</section>

<!-- misson ends -->
<!-- ======================= -->
<!--  -->
<section id="estamos" class="mt-40">
  <div class="estamos relative block py-10 w-full h-full">
    <div class="absolute left-0 top-0 z-0">
      <img
        src="../../../assets/img/elipse/countl.png"
        alt="Top Left Image"
        class="w-96"
      />
    </div>
    <!--  -->

    <h2 class="title">Estamos en +40 paises</h2>
    <div class="all_counrty container mx-auto px-4 md:px-0 z-0">
      <div class="countries flex flex-wrap px-0 md:px-10 w-full justify-normal">
        <ng-container *ngFor="let country of countries">
          <app-country-info
            [imgSrc]="country.imgSrc"
            [imgAlt]="country.imgAlt"
            [countryName]="country.name"
            [peopleCount]="country.peopleCount"
          ></app-country-info>
        </ng-container>
      </div>
    </div>
    <div class="absolute -bottom-20 right-0 z-0">
      <img
        src="../../../assets/img/elipse/coutr.png"
        alt="Top Left Image"
        class="w-96"
      />
    </div>
  </div>
</section>

<!-- profit starts -->
<section id="profit" class="mt-40 relative">
  <div class="abs_coin_y -bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto px-4 md:px-0 z-50">
    <h2 class="title">PROFIT4LIFE</h2>
    <div class="profit_box">
      <h5 class="profit_box_h5">
        Bienvenido a la puerta de entrada <br />al mundo del trading: <br />la
        Academia de Forex de Profit4Life
      </h5>
      <p class="profit_box_p">
        Sumérgete en una experiencia educativa única disponible 24/7, donde
        aprenderás a operar en el mercado de divisas mediante el análisis
        técnico.
      </p>
      <p class="profit_box_p">
        La efectividad de nuestras estrategias han sido comprobadas durante más
        de 7 años y han demostrado que te pueden llevar a la rentabilidad
        financiera y que vivir del trading es totalmente posible.
      </p>
      <div class="button_text w-4/5 md:w-3/6 mx-auto">
        <h4 class="profit_box_h4">
          CLASES MENSUALES EN VIVO <br />ANALISIS DEL MERCADO <br />BENEFICIOS
          EXTRAS
        </h4>
        <button class="btn_unirme">unirme</button>
        <button class="btn_saber">SABER MÁS</button>
      </div>
    </div>
  </div>
  <div class="numbers">
    <div class="container mx-auto flex justify-between px-4 md:px-0">
      <div class="number">
        <h1 class="number_h1">+6500</h1>
        <p class="ml-3 md:ml-7">HRS DE CLASE</p>
      </div>
      <div class="number">
        <h1 class="number_h1">+5000</h1>
        <p class="ml-3 md:ml-7">ALUMNOS</p>
      </div>
      <div class="number">
        <h1 class="number_h1">+10</h1>
        <p class="ml-3 md:ml-7">FASES DE APRENDIZAJE</p>
      </div>
    </div>
  </div>
  <div class="abs_coin -bottom-56 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin left-0 top-0">
    <img
      src="../../../assets/img/elipse/Cam11.png"
      alt="Top Left Image"
      class="w-32"
    />
  </div>
  <div class="abs_coin left-28 top-10">
    <img
      src="../../../assets/img/elipse/Cam22.png"
      alt="Top Left Image"
      class="w-56"
    />
  </div>
  <div class="abs_coin left-10 top-64">
    <img
      src="../../../assets/img/elipse/Cam23.png"
      alt="Top Left Image"
      class="w-56"
    />
  </div>
  <div class="abs_coin bottom-56 left-0">
    <img
      src="../../../assets/img/elipse/Cam24.png"
      alt="Top Left Image"
      class="w-36"
    />
  </div>
  <div class="abs_coin bottom-56 left-48">
    <img
      src="../../../assets/img/elipse/Cam25.png"
      alt="Top Left Image"
      class="w-36"
    />
  </div>
  <!-- right -->

  <div class="abs_coin right-8 top-0">
    <img
      src="../../../assets/img/elipse/Cam10.png"
      alt="Top Left Image"
      class="w-36"
    />
  </div>
  <div class="abs_coin right-44 top-44">
    <img
      src="../../../assets/img/elipse/Cam12.png"
      alt="Top Left Image"
      class="w-52"
    />
  </div>
  <div class="abs_coin right-8 top-80">
    <img
      src="../../../assets/img/elipse/Cam13.png"
      alt="Top Left Image"
      class="w-52"
    />
  </div>

  <div class="abs_coin right-44 bottom-32">
    <img
      src="../../../assets/img/elipse/Cam14.png"
      alt="Top Left Image"
      class="w-52"
    />
  </div>
</section>
<!-- profit ends -->

<!-- ========================== -->

<!-- cripto starts -->
<section id="cripto" class="mt-40 relative">
  <div class="absolute -bottom-20 left-0 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto px-4 md:px-0 z-30">
    <h2 class="title">CRIPTO4LIFE</h2>
    <div class="profit_box">
      <h5 class="profit_box_h5">
        Explora el emocionante mundo de las
        <br />
        criptomonedas con CRIPTO4LIFE, la <br />academia online de Criptomonedas
      </h5>
      <p class="profit_box_p">
        Desde el uso de las plataformas esenciales hasta estrategias de
        inversión infalibles, te proporcionamos las herramientas necesarias para
        navegar el universo digital.
      </p>
      <p class="profit_box_p">
        Descubre cómo crear y gestionar tu portafolio crypto, identificar
        oportunidades de inversión y generar ingresos pasivos. Únete a nosotros
        para transformar tu comprensión de las criptomonedas y abrir las puertas
        a nuevas posibilidades financieras. ¡Bienvenido a la revolución crypto
        con CRIPTO4LIFE!
      </p>
      <div class="button_text w-4/5 md:w-3/6 mx-auto">
        <h4 class="profit_box_h4">
          CLASES MENSUALES EN VIVO <br />ANALISIS DEL MERCADO <br />BENEFICIOS
          EXTRAS
        </h4>
        <button class="btn_unirme">unirme</button>
        <button class="btn_saber">SABER MÁS</button>
      </div>
    </div>
  </div>
  <div class="numbers">
    <div class="container mx-auto flex justify-between px-4 md:px-0">
      <div class="number">
        <h1 class="number_h1">+6500</h1>
        <p class="ml-3 md:ml-7">HRS DE CLASE</p>
      </div>
      <div class="number">
        <h1 class="number_h1">+5000</h1>
        <p class="ml-3 md:ml-7">ALUMNOS</p>
      </div>
      <div class="number">
        <h1 class="number_h1">+10</h1>
        <p class="ml-3 md:ml-7">FASES DE APRENDIZAJE</p>
      </div>
    </div>
  </div>
  <div class="absolute -bottom-56 right-0 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>

  <div class="abs_coin top-20 left-12">
    <img
      src="../../../assets/img/elipse/Crypto-1211.png"
      alt="Top Left Image"
      class="w-64"
    />
  </div>
  <div class="abs_coin top-80 left-0">
    <img
      src="../../../assets/img/elipse/Crypto-131.png"
      alt="Top Left Image"
      class="w-32"
    />
  </div>
  <div class="abs_coin bottom-44 left-20">
    <img
      src="../../../assets/img/elipse/Crypto-141.png"
      alt="Top Left Image"
      class="w-56"
    />
  </div>

  <div class="abs_coin top-20 right-16">
    <img
      src="../../../assets/img/elipse/Crypto-132.png"
      alt="Top Left Image"
      class="w-64"
    />
  </div>
  <div class="abs_coin top-80 right-0">
    <img
      src="../../../assets/img/elipse/Crypto-142.png"
      alt="Top Left Image"
      class="w-32"
    />
  </div>
  <div class="abs_coin bottom-44 right-20">
    <img
      src="../../../assets/img/elipse/Crypto-1221.png"
      alt="Top Left Image"
      class="w-56"
    />
  </div>
</section>
<!-- cripto ends -->

<!-- ========================== -->

<!-- frofit friends starts -->
<section id="profitfriends" class="mt-40 relative">
  <div class="abs_coin -bottom-20 left-">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto px-4 md:px-0 z-20">
    <h2 class="title">profitfriends</h2>

    <div class="profit_box">
      <p class="profit_box_p">
        ProfitFriends es el innovador programa creado por nuestro CEO,
        EmileTrader, con el objetivo de formar una comunidad unida y privada en
        la búsqueda de la libertad financiera. Al convertirte en un
        ProfitFriend, accedes a información privilegiada de alto valor.
      </p>
      <p class="profit_box_p">
        EmileTrader comparte diariamente a través de sus historias para
        CLOSEFRIENDS de INSTAGRAM todos sus movimientos en Crypto, retiros de
        ganancias, compras, entradas en forex y mucho más. Además, disfrutarás
        de beneficios exclusivos al ser los primeros en participar en proyectos
        e inversiones junto a Emile y formaras parte del evento anual exclusivo
        para ProfitFriends.
      </p>
      <p class="profit_box_p">
        Únete a ProfitFriends y transforma tu camino hacia el éxito financiero.
        ¡La libertad está a un click de distancia!
      </p>
      <div class="button_text w-5/6 mx-auto text-center">
        <h4 class="profit_box_h4">
          ACCESO DE POR VIDA<br />
          MEETINGS ONLINE MENSUALES MEETING <br />EXCLUSIVO PRESENCIAL ANUAL
        </h4>
        <button class="btn_unirme">unirme</button>
        <button class="btn_saber">SABER MÁS</button>
      </div>
    </div>
  </div>
  <div class="abs_coin -bottom-56 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin top-72 left-12">
    <img
      src="../../../assets/img/elipse/p1.png"
      alt="Top Left Image"
      class="w-44"
    />
  </div>
  <div class="abs_coin top-12 right-20">
    <img
      src="../../../assets/img/elipse/p2.png"
      alt="Top Left Image"
      class="w-56"
    />
  </div>
  <div class="abs_coin bottom-12 right-20">
    <img
      src="../../../assets/img/elipse/p3.png"
      alt="Top Left Image"
      class="w-44"
    />
  </div>
</section>
<!-- cripto ends -->

<!-- ========================== -->

<!-- app starts -->
<section id="profitapp" class="mt-40">
  <div class="container mx-auto px-4 md:px-0 z-30">
    <h2 class="title">App</h2>
    <div
      class="profitapp_content flex flex-col-reverse md:flex-row justify-between space-x-0 md:space-x-8"
    >
      <div class="app_box mt-40 md:mt-0">
        <h4 class="profit_box_h4">Profit4Life App</h4>
        <p class="profit_box_p">
          se erige como la herramienta definitiva para traders, ofreciendo una
          gama completa de secciones diseñadas para potenciar tu habilidad de
          trading y llevarla a nuevas alturas.
        </p>
        <p class="profit_box_p">
          Desde una calculadora de lotaje hasta alarmas de precios, la
          aplicación proporciona herramientas esenciales que simplifican y
          optimizan tu actividad en los mercados financieros.
        </p>
        <p class="profit_box_p">
          ¿Qué estás esperando para dar el siguiente paso en tu camino hacia el
          éxito financiero? Descarga Profit4Life App y lleva tu trading al
          siguiente nivel.
        </p>
        <div class="button_text w-3/6 mx-auto">
          <button class="btn_saber z-50">SABER MÁS</button>
        </div>
      </div>
      <div class="right relative w-full md:w-2/4">
        <div class="download_buttons mt-12 ml-0">
          <a href="#">
            <img
              src="../../../assets/img/home/googleplay.png"
              alt="Google play"
              class="mb-3 max-w-[160px] md:max-w-[200px]"
            />
          </a>
          <a href="#">
            <img
              src="../../../assets/img/home/appstore.png"
              class="mb-3 max-w-[160px] md:max-w-[200px]"
              alt="Apple store"
            />
          </a>
        </div>
        <div class="iphone1 absolute left-0">
          <img
            src="../../../assets/img/home/iphone mockup.png"
            class="max-w-[330px] md:max-w-[500px]"
            alt=""
          />
        </div>
        <div class="iphone2 absolute top-10 md:mt-0 right-0">
          <img
            src="../../../assets/img/home/iphone mockup2.png"
            class="max-h-[300px] md:max-h-[420px]"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 17.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="absolute bottom-0 left-1/3 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 18.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="absolute bottom-0 right-0 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 19.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
</section>

<!-- app ends -->

<!-- ========================== -->

<!-- nft starts -->
<section id="nft" class="mt-40 relative">
  <div class="absolute bottom-0 left-0 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 21.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="absolute bottom-0 right-0 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 20.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container text-center mx-auto z-20 px-4 md:px-0">
    <h2 class="title">nft</h2>

    <p class="font-montserrat">DESCUBRE ESTE GRAN PROYECTO</p>
    <img
      src="../../../assets/img/home/bull.png"
      alt=""
      class="text-center mx-auto max-h-[510px]"
    />
    <a href="" class="btn_saber nft_saber">SABER MÁS</a>
  </div>
</section>
<!-- nft ends -->

<!-- ========================== -->

<!-- nece starts -->
<section id="nece" class="mt-40r relative">
  <div class="absolute bottom-0 left-0 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 23.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="absolute bottom-0 right-0 z-0 pointer-events-none">
    <img
      src="../../../assets/img/elipse/Background elipse 22.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto px-4 md:px-0 z-20">
    <h1 class="profit_box_h1 pb-12">¿ NECESITAS AYUDA ?</h1>
    <div
      class="nece_content flex flex-col md:flex-row justify-between space-x-8"
    >
      <div
        class="left w-full md:w-2/4 font-montserrat flex flex-col-reverse md:flex-col"
      >
        <div>
          <p>Utiliza las siguientes vías de contacto o rellena el formulario</p>
          <div class="email_img flex">
            <p>Via E-mail</p>

            <img
              src="../../../assets/img/home/Vector email.png"
              alt=""
              class="h-5 w-6 mx-2"
            />

            <p class="font-montserrat">atencion&#64;profit4life.com</p>
          </div>
        </div>
        <img
          src="../../../assets/img/home/Illustrations Ethereum.png"
          alt=""
          class="mt-12"
        />
      </div>
      <div class="right w-full md:w-2/4 mt-10 md:mt-0">
        <input type="number" class="inp_area" placeholder="Escribe tu nombre" />
        <input type="email" class="inp_area" placeholder="Escribe tu e-mail" />
        <input
          type="text"
          class="inp_area"
          placeholder=" Escribe tu teléfono (Opcional)"
        />
        <textarea
          type="text"
          class="inp_area"
          placeholder="Escribe tu mensaje"
        ></textarea>
        <button class="btn_unirme">ENVIAR MENSAJE</button>
      </div>
    </div>
  </div>
</section>
<!-- nece ends -->

<!-- ========================== -->
