<!-- banner starts -->
<section id="banner" class="py-10 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto px-4 md:px-0 text-center z-20">
    <img
      src="../../../assets/img/crypto/image 30.png"
      alt="Logo"
      class="w-full md:w-2/6 mx-auto"
    />
    <p class="text-7xl md:text-9xl font-semibold text-center text-gold">
      Cripto4life
    </p>
    <p class="text-4xl md:text-7xl">Academia de forex</p>
    <p class="font-montserrat">
      Desbloquea <span class="text-gold"> el potencial ilimitado</span> de
      <br />las criptomonedas
      <span class="text-gold">como inversionista</span>
    </p>
    <button class="btn_unirme mt-4">comienza ahora</button>
  </div>
</section>
<!-- banner ends -->

<!-- ======================= -->

<!-- boxes starts -->

<section id="boxes" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container mx-auto px-4 md:px-0 z-20">
    <div class="cript text-center w-full md:w-2/5 mx-auto my-10">
      <div class="heading flex max-w-[300px] mx-auto text-center mb-6">
        <img
          src="../../../assets/img/crypto/cripto4LIFE.png"
          alt=""
          class="w-24 h-20"
        />
        <p class="text-6xl mt-3">Cripto4life</p>
      </div>
      <p class="font-montserrat">
        Aprenderás a capitalizar los cambios de precio impulsados por el
        crecimiento de la demanda, convirtiéndolos en lucrativas oportunidades
        de ganancia. Nuestro enfoque se centra en el desarrollo de habilidades
        tanto en análisis fundamental como técnico, lo que te permite
        identificar y aprovechar al máximo las posibilidades que ofrece el
        mercado criptográfico en constante evolución.
      </p>
      <button></button>
      <button class="btn_unirme mt-4">UNIRME AHORA</button>
    </div>
    <div
      class="academia_online w-full md:w-3/5 mx-auto py-5 px-0 md:px-10 my-10 mt-32"
    >
      <div
        class="head_academia max-w-[230px] text-center mx-auto relative mb-12"
      >
        <h1 class="text-4xl md:text-7xl text-gold">Academia</h1>
        <p class="absolute right-0 text-4xl font-montserrat italic">online</p>
      </div>
      <div class="list flex mb-4 mt-6">
        <img
          src="../../../assets/img/crypto/ripto4LIFE.png"
          alt=""
          class="w-8 h-8 mr-4"
        />
        <p class="font-montserrat text-sm md:text-base">
          Aprenderás a tomar ventaja de ese cambio de precio causado por el
          crecimiento de la demanda para generar profits y así comenzar en el
          trading de las criptomonedas. Esto para verlo desde el punto de vista
          de un inversionista, desarrollando habilidades en el análisis tanto
          fundamental como técnico, para tomar ventaja de las oportunidades que
          ofrece el mercado.
        </p>
      </div>
      <div class="list flex mb-4">
        <img
          src="../../../assets/img/crypto/ripto4LIFE.png"
          alt=""
          class="w-8 h-8 mr-4"
        />
        <p class="font-montserrat text-sm md:text-base">
          Adicionalmente aprenderás a invertir en criptomonedas con y sin
          apalancamiento, conocerás los nuevos protocolos DeFi que te permiten
          generar un income pasivo mientras haces holding.
        </p>
      </div>
      <div class="list flex mb-4">
        <img
          src="../../../assets/img/crypto/ripto4LIFE.png"
          alt=""
          class="w-8 h-8 mr-4"
        />
        <p class="font-montserrat text-sm md:text-base">
          Conoce a detalle el paso a paso de cómo hemos llevado el portafolio de
          nuestros estudiantes a sus primeras 6, 7 y 8 cifras con oportunidades
          que nos han dado hasta 400X de retorno.
        </p>
      </div>
      <div class="flex justify-center">
        <button class="btn_unirme mt-4">comienza ahora $2000</button>
      </div>
    </div>
    <div
      class="intensivo_box w-full md:w-4/6 mx-auto py-5 px-0 md:px-10 py-10 mt-32"
    >
      <div class="content flex space-x-0 md:space-x-8 flex-col md:flex-row">
        <div class="left w-[180px] md:w-[300px] relative mb-10 md:mb-0">
          <h1 class="text-4xl md:text-7xl text-gold">Intensivo</h1>
          <p
            class="absolute right-0 text-3xl md:text-4xl font-montserrat italic font-semibold"
          >
            presencial
          </p>
        </div>
        <div class="right mt-5">
          <p class="font-montserrat text-gold mb-4 text-sm md:text-base">
            5 días de curso intensivo con +6 horas diarias de aprendizaje.
          </p>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Plataformas a utilizar
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Exchanges y Wallets
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Checklist para identificar una criptomoneda potencial
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Como empezar un Portafolio Cripto
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Trading de Cripto con y sin apalancamiento
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              ICO - Initial Coin Offering
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              DeFi - Income Pasivo
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Launchpools - Income Pasivo
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">Profits</p>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <button class="btn_unirme mt-4">comienza ahora $1850</button>
      </div>
    </div>
    <div class="intensivo_box w-full md:w-4/6 mx-auto py-5 px-10 py-10 mt-32">
      <div class="content flex space-x-0 md:space-x-8 flex-col md:flex-row">
        <div class="left w-[120px] md:w-[300px] relative mb-10 md:mb-0">
          <h1 class="text-4xl md:text-7xl text-gold">Intensivo</h1>
          <p
            class="absolute right-0 text-3xl md:text-4xl font-montserrat italic font-semibold"
          >
            online
          </p>
        </div>
        <div class="right mt-5">
          <p class="font-montserrat text-gold mb-4 text-sm md:text-base">
            5 días de curso intensivo con +6 horas diarias de aprendizaje.
          </p>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Plataformas a utilizar
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Exchanges y Wallets
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Checklist para identificar una criptomoneda potencial
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Como empezar un Portafolio Cripto
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Trading de Cripto con y sin apalancamiento
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Como empezar un Portafolio Cripto
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Trading de Cripto con y sin apalancamiento
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              ICO - Initial Coin Offering
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              DeFi - Income Pasivo
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">
              Launchpools - Income Pasivo
            </p>
          </div>
          <div class="list flex mb-4">
            <img
              src="../../../assets/img/crypto/ripto4LIFE.png"
              alt=""
              class="w-8 h-8 mr-4"
            />
            <p class="mt-1 font-montserrat text-sm md:text-base">Profits</p>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <button class="btn_unirme mt-4">comienza ahora $1850</button>
      </div>
    </div>
  </div>
</section>

<!-- boxes ends -->

<!-- ======================= -->

<!-- cards starts -->

<section id="cards" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div
      class="content flex space-x-0 md:space-x-8 flex-col-reverse md:flex-row"
    >
      <div class="left flex-wrap w-full md:w-3/5">
        <div class="img mx-auto w-4/5 flex justify-around">
          <img
            src="../../../assets/img/crypto/d65814c3ce10e8136e70875d8fcad2c4.png"
            alt=""
            class="w-20 md:w-full h-28 md:h-full"
          />
          <img
            src="../../../assets/img/crypto/d65814c3ce10e8136e70875d8fcad2c4.png"
            alt=""
            class="w-20 md:w-full h-28 md:h-full"
          />
          <img
            src="../../../assets/img/crypto/d65814c3ce10e8136e70875d8fcad2c4.png"
            alt=""
            class="w-20 md:w-full h-28 md:h-full"
          />
        </div>
        <div class="img mx-auto w-full flex justify-around">
          <img
            src="../../../assets/img/crypto/d65814c3ce10e8136e70875d8fcad2c4.png"
            alt=""
            class="w-20 md:w-full h-28 md:h-full"
          />
          <img
            src="../../../assets/img/crypto/d65814c3ce10e8136e70875d8fcad2c4.png"
            alt=""
            class="w-20 md:w-full h-28 md:h-full"
          />
          <img
            src="../../../assets/img/crypto/d65814c3ce10e8136e70875d8fcad2c4.png"
            alt=""
            class="w-20 md:w-full h-28 md:h-full"
          />
          <img
            src="../../../assets/img/crypto/d65814c3ce10e8136e70875d8fcad2c4.png"
            alt=""
            class="w-20 md:w-full h-28 md:h-full"
          />
        </div>
      </div>

      <div class="right flex space-x-0 md:space-x-2 w-full md:w-2/5">
        <img
          src="../../../assets/img/crypto/6cd2a88388ed5e5f2fa7b88bf918ae10.jpg"
          alt=""
          class="w-28 h-28"
        />
        <div class="texts">
          <div class="heading max-w-[150px] relative mt-4 mb-12">
            <h1 class="text-4xl md:text-7xl text-gold">Cripto</h1>
            <p
              class="absolute right-0 text-3xl md:text-4xl italic font-montserrat"
            >
              reporte
            </p>
          </div>
          <p class="mb-4 font-montserrat">
            Sumérgete en el fascinante mundo de las criptomonedas con nuestro
            libro definitivo. Aquí encontrarás una guía completa representa el
            portafolio de EmileTrader que lo llevo a capitalizar +$12M.
          </p>
          <p class="mb-4 font-montserrat">
            Cada criptomoneda se presenta con una descripción concisa,
            información relevante clave y proyecciones de precios a corto,
            mediano y largo plazo. Este libro es tu mapa hacia el éxito en el
            mercado de las criptomonedas, brindándote la visión y la sabiduría
            necesarias para tomar decisiones financieras informadas y
            estratégicas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cards ends -->

<!-- ======================= -->
<!-- superclass starts -->
<section id="superclass" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <!-- <h2 class="title">Mision</h2> -->

  <div class="container">
    <h2 class="text-6xl text-center text-gold mb-12">Super Classes</h2>

    <div
      class="content flex flex-col md:flex-row justify-center space-y-10 md:space-y-0 space-x-0 md:space-x-8"
    >
      <div class="left w-full md:w-2/6">
        <div class="box_over profit_box h-[310px] relative">
          <h6 class="text-center -mt-10 w-3/5 p-2 mx-auto mb-4">
            SUPER CLASE DE ENERO 2023
          </h6>
          <p>US30 ARMY.</p>
          <p>Pasa tu challenge</p>
          <p>Como generar +10K al mes con US3</p>
          <p>Acceso a grupo privado de telegram</p>
          <button class="btn_unirme absolute bottom-4">$200</button>
        </div>
      </div>
      <div class="right w-full md:w-2/6">
        <div class="box_over profit_box h-[310px] relative">
          <h6 class="text-center -mt-10 w-3/5 p-2 mx-auto mb-4">
            SUPER CLASE DE ENERO 2023
          </h6>

          <p>FOREX:</p>
          <p>Análisis técnico y estrategias para pasar los Challenge</p>
          <p>CRIPTO:</p>

          <p>Portafolio, análisis técnico, income pasivo y gemas</p>
          <p>Acceso a grupo privado de telegram</p>
          <button class="btn_unirme absolute bottom-4">$150</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- superclass ends -->

<!-- ======================= -->

<!-- tuvia starts -->

<section id="tuvia" class="mt-40 relative">
  <div class="abs_coin_y bottom-20 left-0">
    <img
      src="../../../assets/img/elipse/Background elipse 7.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="abs_coin_y -bottom-20 right-0">
    <img
      src="../../../assets/img/elipse/Background elipse 8.png"
      alt="Top Left Image"
      class="w-[600px]"
    />
  </div>
  <div class="container">
    <div class="text-center flex w-full mx-auto justify-center text-gold">
      <h1 class="text-center text-4xl md:text-7xl">
        TU VIAJE COMIENZA EN NUESTRO
      </h1>
      <!-- <button>FLex</button> -->
    </div>
    <div
      class="content flex space-x-0 md:space-x-8 items-center flex-col md:flex-row"
    >
      <div class="left w-full md:w-2/5">
        <div class="list flex mb-4">
          <img
            src="../../../assets/img/crypto/ripto4LIFE.png"
            alt=""
            class="w-8 h-8 mr-4"
          />
          <p class="mt-1 font-montserrat">
            Sumérgete en videos enriquecedores.
          </p>
        </div>
        <div class="list flex mb-4">
          <img
            src="../../../assets/img/crypto/ripto4LIFE.png"
            alt=""
            class="w-8 h-8 mr-4"
          />
          <p class="mt-1 font-montserrat">Maneja la psicología del trading.</p>
        </div>
        <div class="list flex mb-4">
          <img
            src="../../../assets/img/crypto/ripto4LIFE.png"
            alt=""
            class="w-8 h-8 mr-4"
          />
          <p class="mt-1 font-montserrat">
            Descarga nuestra app con herramientas gratis.
          </p>
        </div>
        <div class="list flex mb-4">
          <img
            src="../../../assets/img/crypto/ripto4LIFE.png"
            alt=""
            class="w-8 h-8 mr-4"
          />
          <p class="mt-1 font-montserrat">
            Acceso a concursos de fondeo de cuentas.
          </p>
        </div>
        <div class="list flex mb-4">
          <img
            src="../../../assets/img/crypto/ripto4LIFE.png"
            alt=""
            class="w-8 h-8 mr-4"
          />
          <p class="mt-1 font-montserrat">
            Accede a noticias y recursos gratuitos. La mejor información sobre
            premercados y bolsa.
          </p>
        </div>
      </div>
      <div class="right w-full md:w-3/5">
        <img
          src="../../../assets/img/crypto/a704263807e5c2ebafffda9eae0f082b.png"
          alt=""
        />
      </div>
    </div>
    <h1 class="text-4xl md:text-7xl text-center text-gold mt-10">
      ¡LLEVA TU TRADING A OTRO NIVEL!
    </h1>
    <div class="text-center">
      <button class="btn_unirme mt-4">comienza ahora</button>
    </div>
  </div>
</section>

<!-- tuvia ends -->

<!-- ======================= -->
